
button:hover {
    background-color: cornflowerblue;
    color: white;
    transition-duration: 2s;
}

button:not(:hover) {
    background-color: ghostwhite;
    transition: 2s;
}


.caption {
    position: relative;
    overflow: hidden;
    transform: translateZ(0);
}

.image {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.cap-ov {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 30px;
    left: 0;
    padding: 10px 12%;
    color: white;
    transform: translateY(100%);
    transition: transform 2s ease-out;
}

.caption:hover .cap-ov {
    transform: translateY(0);
}

.cap-title-ov {
    margin: 0;
    padding: 0 0 12px;
    transform: translateY(calc(-100% - 10px));
    transition: transform 2s ease-out;
}

.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background 2s ease-out;
    
}

.caption:hover::before {
    background: rgba(0,0,0,0.5);
}